{% extends "layout.html" %}

{% block main %}
    <h2>Overview</h2>
    <table class="table" id="employees"> 
        <thead class="thead-dark">
            <tr>
                <th>UID <img src="/static/down-arrow.svg" id ="arrow0" height="16px" onclick="sort(0)"></th>
                <th>First Name <img src="/static/down-arrow.svg" id ="arrow1" height="16px" onclick="sort(1)"></th>
                <th>Last Name <img src="/static/down-arrow.svg" id ="arrow2" height="16px" onclick="sort(2)"></th>
                <th>Birthdate <img src="/static/down-arrow.svg" id ="arrow3" height="16px" onclick="sort(3)"></th>
                <th>Age <img src="/static/down-arrow.svg" id ="arrow4" height="16px" onclick="sort(4)"></th>
                <th>Sex <img src="/static/down-arrow.svg" id ="arrow5" height="16px" onclick="sort(5)"></th>
                <th>Weekly Workload <img src="/static/down-arrow.svg" id ="arrow6" height="16px" onclick="sort(6)"></th>
                <th>Department <img src="/static/down-arrow.svg" id ="arrow7" height="16px" onclick="sort(7)"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for employee in db_employees %}
            <tr class="text-center">
                <td>{{ employee[0] }}</td>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
                <td>{{ employee[4] }}</td>
                <td>{{ employee[5] }}</td>
                <td>{{ employee[6] }}</td>
                <td>{{ employee[7] }}</td>
                <td><form action="/delete" method="POST">
                <input type="hidden" name="uid" id="uid" value={{ employee[0] }}>
                <button type="submit">Delete</button>
                </form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}